@use './src/assets/styles/fonts' as *;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .error {
        @include tga-regular-small;

        display: block;
        color: var(--error-base);
        transition: var(--transition);
    }
    
    .label {
        @include tga-regular-default;

        font-weight: 700;
        color: var(--primary-base);
        transition: var(--transition);
    }

    & > input {
        height: 46px;
        margin-block: 6px 2px;
        padding: 10px 12px;

        color: var(--primary-base);

        border: 1px solid var(--primary-base);
        border-radius: var(--gap-x1);
        outline: 1px solid transparent;

        transition: var(--transition);

        &::placeholder {
            color: var(--primary-base);
            filter: opacity(0.5);
        }

        &:focus {
            border-color: var(--primary-base);
            outline-color: var(--primary-base);
        }
        
        @include tga-regular-default;
    }

    &.error {
        .label {
            color: var(--error-base);
        }

        & > input {
            border-color: var(--error-base);
            &:focus {
                outline-color: var(--error-base);
        }
        }
    }
}