.warn {
    background-color: var(--secondary-base)!important;
    & > div {
        background-color: var(--secondary-base)!important;
    }
}

.error {
    background-color: var(--error-base)!important;
    & > div {
        background-color: var(--error-base)!important;
    }
}

.success {
    background-color: var(--success-color)!important;
    & > div {
        background-color: var(--success-color)!important;
    }
}