@use './src/assets/styles/fonts' as *;
.button {
    @include tga-regular-default;

    cursor: pointer;

    width: fit-content;
    padding: 16px 16px;

    border: none;
    border-radius: var(--gap-x2);

    transition: all var(--transition);

    &.empty {
        padding: 0;
        color: var(--primary-base);
        background-color: transparent;
    }

    &.fullWidth {
        width: 100%;
    }

    &.primary {
        color: white;
        background-color: var(--primary-base);
    }

    &.secondary {
        color: white;
        background-color: var(--secondary-base);
    }

    &.danger {
        color: white;
        background-color: var(-error-base);
    }

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}