.wrapper {
    cursor: default;

    position: sticky;
    z-index: 9;
    top: 0;

    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // flex-direction: row;
    align-items: center;

    width: fit-content;
    padding: 10px 16px;

    color: white;
    text-align: left;

    background-color: var(--primary-base);
    border: 1px solid transparent;

    
}