.wrapper {
    display: flex;
    // flex: 1;
    flex-direction: column;

    .firstRow {
        color: white;
        background-color: var(--primary-base);
    }
    .list {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        // flex: 1;
        // height: 100%;
        height: 550px;
    }

    .buttons {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.top {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
}