.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header {
    position: sticky;
    z-index: 999;
    top: 0;

    padding-block: 16px;

    transition: background-color var(--transition);

    &.scrolled {
        background-color: white;
    }
}

.links {
    display: flex;
    gap: 32px;
    align-items: center;
}