.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header {
    position: sticky;
    z-index: 999;
    top: 0;

    padding-block: 16px;

    transition: background-color var(--transition);

    &.scrolled {
        background-color: white;
    }
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 32px;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
}