.row {
    cursor: pointer;

    position: relative;

    // display: grid;
    // flex-direction: row;
    grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;

    // width: 100%;
    width: fit-content;
    padding: 10px 16px;

    text-align: left;

    border: 1px solid transparent;

    &.edited {

        &:after {
            content: '';
            
            position: absolute;
            top: 50%;
            transform: translate(-150%, -50%);
            
            width: 12px;
            height: 12px;
            
            background-color: var(--secondary-base);
            border-radius: 50%;
        }
    }

    & > td {
        white-space: nowrap;
    }

    & > span {
        align-self: center;
    }

    &:active {
        transform: translateY(-2px);
        // background-color: var(--primary-base-active-light)!important;
    }

    &:hover {
        background-color: var(--primary-base-hover-light);
    }

    &.header {
        cursor: default;

        position: sticky;
        top: 0;

        color: white;

        background-color: var(--primary-base);
    }

    &.success {
        background-color: var(--success-color)!important;
    }

    &.warn {
        background-color: var(--secondary-base)!important;
    }

    &.error {
        color: white;
        background-color: var(--error-base)!important;
        
        &.active {
            color: white;
            background-color: var(--error-base)!important;

        }
    }

    &.active {
        color: var(--text-dark);
        background-color: var(--primary-base-hover-light)!important;
        border-bottom-color: var(--primary-base)!important;
    }
}