.row {
    cursor: pointer;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: 10px 16px;

    text-align: left;

    border: 1px solid transparent;

    & > span {
        align-self: center;
    }

    &:hover {
        background-color: var(--primary-base-hover-light);
    }

    &.header {
        cursor: default;

        position: sticky;
        top: 0;

        color: white;

        background-color: var(--primary-base);
    }

    &.active {
        background-color: var(--primary-base-hover-light);
        border-block-color: var(--primary-base);

    }
}