.row {
    cursor: pointer;

    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr 2fr 2fr minmax(0, 3fr) 3fr 2.5fr;
    align-items: center;

    padding: 12px 16px;

    color: var(--dark-text);

    background-color: white;
    border: 1px solid transparent;

    transition: var(--transition);

    &.disabled {
        cursor: default;
    }

    &:not(.disabled) {
        .active {
            width: 12px;
            height: 12px;
            margin-left: 20px;
    
            background-color: var(--success-color);
            border-radius: 50%;
            outline: 2px solid white;
        }
    
        &:hover {
            border-color: var(--primary-base);
        }
    
        &.selected {
            color: white;
            background-color: var(--primary-base);
        }
    
        &.notActive {
            .active {
                background-color: var(--error-base);
            }
        }
    }

}