@use './src/assets/styles/fonts' as *;

.wrapper {
    // overflow: hidden;
    display: grid;

    width: 600px!important;
    min-width: 520px;

    background-color: white;
    border: 1px solid var(--primary-base);
    border-radius: var(--gap-x2);

    &.fitContent {
        width: fit-content!important;
        min-width: initial;
    }

    .info {
        color: var(--primary-base)
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        width: 100%;
        padding: 16px 48px 32px 48px;

        & > button {
            margin-top: 12px;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 16px;

        background-color: var(--primary-base);

        & > span {
            color: white;

            @inculde tga-regular-large;
        }
    }

    label {
        width: 100%;
    }
}

.error {
    display: block;
    color: var(--error-base);
}