.icon {
    border-radius: var(--gap-x1);
    transition: var(--transition);

    &.clickable {
        border: none;
    }

    & > svg {
        & > path {
            stroke: white;
        }
    }

    &.withBorder {
        border: 1px solid var(--primary-special);
    }

    &.small {
        width: 20px;
        height: 20px;
    }
    
    &.medium {
        width: 24px;
        height: 24px;
    }
    
    &.large {
        width: 32px;
        height: 32px;
    }

    &:hover {
        background-color: var(--primary-base-dark);
    }
}